
<div class="container">
<h1> <%= @cocktail.name %> - details</h1>

<h2>Doses:</h2>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail)  %>
| <%= link_to 'All cocktails', cocktails_path %>

</div>


