<div class="container text-center w-50 ">
<h1 class="my-4"><%= @cocktail.name %></h1>

<h2>Doses:</h2>
<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item">
      <%= dose.description %> <%= dose.ingredient.name %>
      <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, dose_path(dose), method: :delete, data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail), class: "badge badge-pill badge-primary"  %>
| <%= link_to 'All cocktails', cocktails_path, class: "badge badge-pill badge-success" %>

</div>


