<div class="container">
<h1>Your doses form </h1>

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit description", class: "btn btn-primary" %>
<% end %>

<p><%= link_to 'All cocktails', cocktails_path %></p>
</div>
