<div class="container text-center w-25 ">
<h1 class="my-4">Add new doses</h1>

<%= simple_form_for [ @cocktail, @dose ] do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%= f.submit "Submit description", class: "btn btn-primary" %>
<% end %>

<p><%= link_to 'All cocktails', cocktails_path %></p>
</div>
